:root {
    --tilesize: 40px;
    --light-orange: #ffd787;
}

div.board {
    border: 1px solid black;
    display: inline-block;
    line-height: 0pt;
}

div.row {
    display: block;
}

div.tile {
    display: inline-block;
    width: var(--tilesize);
    height: var(--tilesize);
    margin: 1px;
    background-color: #cccccc;
}

div.tile.invisible {
    background-color: transparent;
}

div.tile.obstacle {
    background-color: black;
}

div.tile.northsouth {
    background-image: url("line-north-south.svg")
}
div.tile.eastsouth {
    background-image: url("line-east-south.svg")
}
div.tile.northeast {
    background-image: url("line-north-east.svg")
}
div.tile.southwest {
    background-image: url("line-south-west.svg")
}
div.tile.eastwest {
    background-image: url("line-east-west.svg")
}
div.tile.northwest {
    background-image: url("line-north-west.svg")
}

div.tile.hintnorthsouth {
    background-image: url("line-hint-north-south.svg")
}
div.tile.hinteastsouth {
    background-image: url("line-hint-east-south.svg")
}
div.tile.hintnortheast {
    background-image: url("line-hint-north-east.svg")
}
div.tile.hintsouthwest {
    background-image: url("line-hint-south-west.svg")
}
div.tile.hinteastwest {
    background-image: url("line-hint-east-west.svg")
}
div.tile.hintnorthwest {
    background-image: url("line-hint-north-west.svg")
}

div.tile.current.northsouth {
    background-image: url("curline-north-south.svg")
}
div.tile.current.eastsouth {
    background-image: url("curline-east-south.svg")
}
div.tile.current.northeast {
    background-image: url("curline-north-east.svg")
}
div.tile.current.southwest {
    background-image: url("curline-south-west.svg")
}
div.tile.current.eastwest {
    background-image: url("curline-east-west.svg")
}
div.tile.current.northwest {
    background-image: url("curline-north-west.svg")
}

div.tile.solved.northsouth {
    background-image: url("solline-north-south.svg")
}
div.tile.solved.eastsouth {
    background-image: url("solline-east-south.svg")
}
div.tile.solved.northeast {
    background-image: url("solline-north-east.svg")
}
div.tile.solved.southwest {
    background-image: url("solline-south-west.svg")
}
div.tile.solved.eastwest {
    background-image: url("solline-east-west.svg")
}
div.tile.solved.northwest {
    background-image: url("solline-north-west.svg")
}

div.tile.arrowright {
    background-image: url("hint-arrow-right.svg")
}
div.tile.arrowleft {
    background-image: url("hint-arrow-left.svg")
}
div.tile.arrowup {
    background-image: url("hint-arrow-up.svg")
}
div.tile.arrowdown {
    background-image: url("hint-arrow-down.svg")
}
