:root {
    --tilesize: 40px;
    --light-orange: #ffd787;
}

div.board {
    border: 1px solid black;
    display: inline-block;
    line-height: 0pt;
}

div.row {
    display: block;
}

div.tile {
    display: inline-block;
    width: var(--tilesize);
    height: var(--tilesize);
    margin: 1px;
    background-color: #cccccc;
}

div.tile.invisible {
    background-color: transparent;
}

div.tile.obstacle {
    background-color: black;
}

div.tile.northsouth {
    background-image: url("line-north-south.svg")
}
div.tile.eastsouth {
    background-image: url("line-east-south.svg")
}
div.tile.northeast {
    background-image: url("line-north-east.svg")
}
div.tile.southwest {
    background-image: url("line-south-west.svg")
}
div.tile.eastwest {
    background-image: url("line-east-west.svg")
}
div.tile.northwest {
    background-image: url("line-north-west.svg")
}
