:root {
    --tilesize: 40px;
    --light-orange: #ffd787;
}

div.board {
    border: 1px solid black;
    display: inline-block;
    line-height: 0pt;
}

div.row {
    display: block;
}

div.tile {
    display: inline-block;
    width: var(--tilesize);
    height: var(--tilesize);
    margin: 2px;
    background-color: #cccccc;
}

div.tile.invisible {
    background-color: transparent;
}

div.tile.obstacle {
    background-color: black;
}
